#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 150px;
    text-shadow: 0 0 20px black;
    color: var(--color-primary);
    z-index: 1;
    line-height: 1.2;
    text-align: center;
  }

  h2 {
    color: var(--color-white);
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-shadow: 0 0 10px black, 0 0 8px var(--color-light);
    text-align: center;
  }

  .home-titles {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60%;
    justify-content: flex-end;
    max-width: 1200px;
  }

  .home-buttons {
    margin-top: 32px;
    display: flex;
    gap: 32px;
  }
}
@media (max-width: 1024px) {
  #home {
    width: 100%;
    .home-titles {
      height: fit-content;
      h1 {
        font-size: 100px ;
      }
      h2{
        font-size: 60px;
      }
    }
    .home-buttons{
      flex-direction: column;
    }
  }
}

@media (max-width: 768px){
  #home{
    .home-titles{
      h1{
        font-size: 50px;
      }
      h2{
        font-size: 40px;
      }
    }
  }
}

