.experience {
  min-height: 100vh;
  background-color: var(--color-bg-variant);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 64px;
  .experiences {
    margin-block: 64px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  }
}
@media (max-width: 767px) {
  .experience {
    padding-block: 32px;
    .experiences {
      margin-block: 32px;
    }
  }
}

@media (max-width: 768px) {
  .experience {
    padding-block: 32px;
    .experiences {
      margin-block: 32px;
    }
  }
}
