.singleExperience {
  max-width: 900px;
  display: flex;
  .desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 64px;
    max-width: 50%;
    * {
      font-weight: 400;
      color: var(--color-bg);
    }
    h1 {
      font-size: 25px;
      font-weight: 500;
    }
    h2 {
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 1.2px;
    }
    p {
      font-size: 16px;
      letter-spacing: 1px;
      word-spacing: 0.7px;
      font-family: Montserrat, sans-serif;
      b {
        font-weight: 700;
      }
    }
  }
  .reversed-desc {
    padding-right: 0;
    padding-left: 64px;
  }
  .line {
    border-right: 0.5px solid var(--color-bg);
    position: relative;
    display: flex;
    justify-content: center;
    .outer {
      border-radius: 50%;
      opacity: 0.95;
      padding: 3px;
      border: 1px solid var(--color-primary-dark);
      position: absolute;
      top: 12px;
      .inner {
        border-radius: 50%;
        background-color: var(--color-bg);
        padding: 3px;
        height: 22px;
      }
    }
  }
  .date {
    opacity: 1;
    display: flex;
    flex-direction: column;
    .bubble {
      position: relative;
      background-color: var(--color-bg);
      min-height: 50px;
      padding: 13px;
      color: white;
      display: flex;
      align-items: center;
      border-radius: 20px;
      width: -moz-fit-content;
      width: fit-content;
      z-index: 0;
      .arrow {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 40px solid var(--color-bg);
        border-bottom: 20px solid transparent;
        position: absolute;
        top: 5px;
        left: -25px;
        z-index: -1;
      }
      .reversed-arrow {
        border-right: transparent;
        border-left: 40px solid var(--color-bg);
        left: auto;
        right: -25px;
      }
      .body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
      h2 {
        font-size: 20px;
      }
    }
    .video {
      width: 400px;
      overflow: hidden;
      margin-top: 16px;
      padding: 32px;
    }
    .slick-slider {
      * {
        color: black;
      }
    }
    
  }
}

@media (max-width: 1024px) {
  .singleExperience {
    flex-direction: column !important;
    align-items: center;
    gap: 0;
    position: relative;
    width: 100%;
    .desc {
      width: 80%;
      padding: 0;
      max-width: 80%;
      gap: 12px;
      h1 {
        text-align: center !important;
        font-size: 35px;
      }
      h2 {
        text-align: center !important;
        font-size: 25px;
      }
      p {
        margin-top: 8px;
        text-align: justify !important;
      }
    }
    .line {
      display: none;
    }
    .date {
      width: 100%;
      padding: 0 !important;
      position: sticky;
      margin-top: 8px;
      flex-direction: column-reverse;
      top: 0;
      left: -10px;
      align-items:center !important;
      .video{
        .galery{
          .slick-arrow{
            height: 20px;
          }
        }
      }
      .bubble {
        align-self: center;
        width: 150px;
        justify-content: center;
        padding: 8px;
        background-color: rgb(31, 31, 56, 0.8);
        .arrow {
          display: none;
        }
        h2 {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          span{
            font-size: 16px;
            line-height: 0.8;
          }
        }
        .body {
          position: relative;
          width: 0;
        }
      }
    }
  }
}

@media (max-width: 768px){
  .singleExperience{
    .date{
      .video{
        padding-left:64px ;
        padding-right:64px ;
      }
    }
  }
}
