@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #001427;
  --accent1: #ff8098;
  --accent2: #f2c94c;
  --accent3: #205fb0;
  --accent4: #67b57d;
}

body {
  color: white;
  font-family: 'Roboto';
  background: var(--bg);
}

.text-shadow {
  text-shadow: 0 0 3px white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
