.expertise {
  background-color: white;
  padding-block: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: var(--color-dark);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
  }
  .expertise-title {
    color: var(--color-bg);
    font-family: Montserrat, sans-serif;
    font-size: 64px;
    margin-block: 16px;
  }
  .expertise-skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 96px;
    max-width: 1200px;
    width: 70%;
  }
}
