.expertise {
  background-color: white;
  padding-block: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  
  .expertise-skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 64px;
    max-width: 1200px;
    width: 70%;
  }
}
@media (max-height: 900px) {
  .expertise{
    padding-block:32px !important;
  }
  .expertise-skills {
    gap: 8px !important;
    margin-top: 32px !important;
  }
}
