@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

#root > div::-webkit-scrollbar {
  display: none;
}

.slider,
.slider * {
  height: 100%;
}

.slider video {
  margin-inline: auto;
  height: 100%;
  width: 100%;
}
